#about-container {
    width: 85%;
}

.profile-pic {
    height: 100px;
    border-radius: 50%;
    float: left;
}

.profile-text {
    position: relative;
    left: 20px;
    max-height: 70px;
    font-family: 'Nunito', sans-serif;
}

#just-the-four-of-us {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px) {
    #just-the-four-of-us div {
        margin: 0rem;
    }

    .profile-pic {
        height: 35px;
    }
    .profile-text {
        font-size: 0.75rem;
    }
}