footer {
    background-color: #793AFC;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
}
.link:hover {
    cursor: pointer;
}

.link {
    text-decoration: underline;
    font-size: 1.5rem;
}