/* AUTH FORM STYLING */

.icon {
  height: 25%;
}

.fa-times {
  font-size: 28px;
}

.input {
  width: 75%;
  padding: 12px 20px;
  border-radius: 4px;
}

.input:focus {
  outline: none;
}

.input-button-1, .input-button-2 {
  background-color: #6B6AAA;
  font-size: 1.5rem;
  color: #FBFAFB;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: 0.2s;
  border-radius: .5rem;
  margin: 1rem 0rem;
}

.input-button-1 {
  width: 50%
}

.input-button-2 {
  /* width: 40%; */
  position: relative;
  bottom: 20px;
}

.input-button-1:hover, .input-button-2:hover {
  background-color: #B5B4D4;
}

@media screen and (max-width: 700px) {
  .icon {
    height: 20%;
    margin-bottom: 0;
  }

  .input-button-1, .input-button-2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .icon {
    display: none;
  }
}
