/* html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*NAVBAR*/

.navbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #793AFC;
}

.navbar-buttons {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.navbar-button-1 {
  background-color: #6B6AAA;
  width: 140px;
  font-size: 2rem;
  color: #FBFAFB;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-right: 20px;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-button-2 {
  background-color: #6B6AAA;
  width: 140px;
  font-size: 2rem;
  color: #FBFAFB;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  box-shadow: 5px 5px black;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-button-1:hover {
  background-color: #B5B4D4;
}

.navbar-button-2:hover {
  background-color: #B5B4D4
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #8CB3DF;
  height: 500px;
  width: 500px;
  box-shadow: 10px 10px #1D3B97
}

.auth-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;

}

.auth-form{
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-closer-button{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #793AFC
}

.modal-closer-button:hover{
  cursor: pointer;
  color: black;
}

.fa-times {
  font-size: 28px;
}

.login-or-signup-message{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #793AFC;
  text-decoration: underline;
}